<div class="container-fluid my-5" style="width: 80%">
    <h1>The Courier Club is a full service International Freight Forwarder. Since 2020 Our main focus has been and remains on customer satisfaction and ultimate goal is to save you time and money.</h1>
    
    <p>With our global network of carriers, agents and distribution warehouses, courier club will manage your freight with the precision it requires and deserves.At the courier club logistics we strive to provide you with the best service available to suit your budget. Our transportation consultants will stay with you and your shipment file from the beginning to its completion. Your shipment is never passed off to support staff who do not know you or your particular requirements.</p>
</div>
<div class="jumbotron jumbotron-fluid">
  </div>