<div class="card">
    <div class="card-body">
        <div class="row pt-5">
            <div class="col-md-7">
                <div class="left border">
                    <div class="row"> <span class="header">Payment</span>
                        <div class="icons"> <img src="https://img.icons8.com/color/48/000000/visa.png" /> <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /> <img src="https://img.icons8.com/color/48/000000/maestro.png" /> </div>
                    </div>
                    <div> <span>Cardholder's name:</span> <input placeholder="Linda Williams"> <span>Card Number:</span> <input id="name"  maxlength="16" placeholder="0125 6780 4567 9909">
                        <div class="row">
                            <div class="col-4"><span>Expiry Date:</span> <input placeholder="YY/MM" maxlength="5" > </div>
                            <div class="col-4"><span>CVV:</span> <input  maxlength="3" > </div>
                        </div> <input type="checkbox" id="save_card" class="align-left"> <label for="save_card">Save card details to wallet</label>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="right border">
                    <div class="header">Order Summary</div>
                    <p>1 items</p>
                    <div class="row item">
                        <div class="col-4 align-self-center"><img class="img-fluid" src='{{product.imagePath}}'></div>
                        <div class="col-8">
                            <div class="row"><b>{{product.price}}</b></div>
                            <div class="row text-muted">{{product.title}}</div>
                            <div class="row">Qty:1</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row lower">
                        <div class="col text-left">Subtotal</div>
                        <div class="col text-right">{{product.price}}</div>
                    </div>
                    <div class="row lower">
                        <div class="col text-left">Delivery</div>
                        <div class="col text-right">Free</div>
                    </div>
                    <div class="row lower">
                        <div class="col text-left">Tax</div>
                        <div class="col text-right">{{tax}}</div>
                    </div>
                    <div class="row lower">
                        <div class="col text-left"><b>Total to pay</b></div>
                        <div class="col text-right"><b>${{totalToPay}}</b></div>
                    </div>
                    <div class="row lower">
                        <div class="col text-left"><a href="#"><u>Add promo code</u></a></div>
                    </div> <button  (click) = "placeOrder()" class="btn" >Place order</button>
                    <p class="text-muted text-center">Complimentary Shipping & Returns</p>
                </div>
            </div>
        </div>
    </div>
    <div> </div>
</div>