<div class="container bootstrap snippets bootdey">
<div class="row ng-scope pt-5">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="h4 text-center pt-3">Shipment Tracking Information</div>
                <div class="row pv-lg">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="inputContact1">Product Name</label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control" id="inputContact1" type="text" placeholder="" value={{product.title}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="inputContact2">Description</label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control" id="inputContact2" type="email" value={{product.description}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="inputContact3">Cost</label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control" id="inputContact3" type="text" value={{product.price}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="inputContact3">Scheduled Pickup</label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control" id="inputContact3" type="text" value={{product.schedule}}>
                                </div>
                            </div>
                            <div style="margin-right:100px;" class="row multi-steps-wrap pt-5">
                            <ul class="list-unstyled multi-steps">
                                <li class="job-status job-created" [ngClass]="{'job-inprogress is-active negative': product.status == 'processing'}" >processing</li>
                                <li class="job-status" [ngClass]="{'job-inprogress is-active negative': product.status == 'packed'}" >Packed</li>
                                <li class="job-status job-completed "  [ngClass]="{'job-inprogress is-active negative': product.status == 'shipped'}" >Shipped</li>
                                <li class="job-status job-closed"  [ngClass]="{'job-inprogress is-active negative': product.status == 'delivered'}" >Delivered</li>
                            </ul>
                            </div>
                            <div class="card edit-card" *ngIf="globalService.isAdmin">
                            	<select #select  (click)="updateTracking(select.value)">
                                    <option>Select</option>
                                    <option *ngFor="let item of this.dataList;let i = index;" value="{{item.code}}" [selected]="item.code == product.status">
                                        {{item.name}}
                                    </option>
                                </select>
                                 <button  col-sm-2 class="submit-btn btn btn-success" type="submit" (click) = "submitTracking()"  >Submit</button>
                            </div>

                            <div class="h4 text-center pt-3">Destination Address</div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="inputContact5">Full Name</label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control" id="inputContact5" type="text" value={{product.fullname}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="inputContact6">Address</label>
                                <div class="col-sm-10">
                                    <textarea disabled class="form-control" id="inputContact6" row="4" value={{product.address}}></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="inputContact7">Phone Number</label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control" id="inputContact7" type="text" value={{product.phonenumber}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="inputContact8">State</label>
                                <div class="col-sm-10">
                                    <input disabled class="form-control" id="inputContact8" type="text"  value={{product.state}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <img class="imageview"  src='{{product.imagePath}}' />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>